* {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

#app {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 255, 34),
    rgb(167, 19, 226)
  );
}

#canvas {
  margin: auto;
  height: 75vmin;
  width: 75vmin;
  display: grid;
  grid-row: 2 / 3;
  grid-column: 2;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 1px;
  background-color: rgb(31, 31, 31);
  border-style: solid;
  border-color: rgb(143, 23, 255);
}

.snake {
  background-color: rgb(255, 115, 0);
  border-radius: 50%;
}

.apple {
  background-color: red;
  border-radius: 50%;
}

#app .title {
  display: grid;
  grid-row: 1;
  grid-column: 1/4;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  /* background-image: linear-gradient(
    to bottom right,
    rgba(238, 135, 0, 0.932),
    rgb(60, 255, 0)
  ); */
}

#app .points {
  display: grid;
  grid-row: 3;
  grid-column: 1/4;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: #000000ce;
  /* background-image: linear-gradient(
    to bottom right,
    rgba(238, 135, 0, 0.932),
    rgb(60, 255, 0)
  ); */
}

.leaderboard {
  display: grid;
  grid-row: 2;
  grid-column: 1;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  border: solid 1px rgb(167, 19, 226);
  box-shadow: 5px 5px 12px -6px rgb(167, 19, 226), 0 0 6px -3px;
  height: 50%;
  background-color: rgb(0, 0, 0);
  color: rgb(167, 19, 226);
  margin-left: 10px;
}

.leaderboards-title {
  display: grid;
  grid-row: 1;
  grid-column: 1 / 3;
  align-items: center;
  justify-content: center;
  border-bottom: rgb(167, 19, 226) 1px solid;
}

.player {
  display: grid;
  border-bottom: rgb(167, 19, 226) 1px solid;
  grid-row: 2;
  grid-column: 1 / 2;
  align-items: center;
  justify-content: center;
  border-right: rgb(167, 19, 226) solid 1px;
}

.score {
  display: grid;
  border-bottom: rgb(167, 19, 226) 1px solid;
  grid-row: 2;
  grid-column: 2 / 3;
  justify-content: center;
  align-items: center;
}

.firstPlaceName {
  display: grid;
  border-bottom: rgb(167, 19, 226) 1px solid;
  grid-row: 3;
  grid-column: 1 / 2;
  justify-content: space-evenly;
  align-items: center;
  border-right: rgb(167, 19, 226) solid 1px;
}

.firstPlaceScore {
  display: grid;
  border-bottom: rgb(167, 19, 226) 1px solid;
  grid-row: 3;
  grid-column: 2 / 3;
  justify-content: space-evenly;
  align-items: center;
}

.secondPlaceName {
  display: grid;
  border-bottom: rgb(167, 19, 226) 1px solid;
  grid-row: 4;
  grid-column: 1 / 2;
  justify-content: space-evenly;
  align-items: center;
  border-right: rgb(167, 19, 226) solid 1px;
}

.secondPlaceScore {
  display: grid;
  border-bottom: rgb(167, 19, 226) 1px solid;
  grid-row: 4;
  grid-column: 2 / 3;
  justify-content: space-evenly;
  align-items: center;
}

.thirdPlaceName {
  display: grid;
  border-bottom: rgb(167, 19, 226) 1px solid;
  grid-row: 5;
  grid-column: 1 / 2;
  justify-content: space-evenly;
  align-items: center;
  border-right: rgb(167, 19, 226) solid 1px;
}

.thirdPlaceScore {
  display: grid;
  border-bottom: rgb(167, 19, 226) 1px solid;
  grid-row: 5;
  grid-column: 2 / 3;
  justify-content: space-evenly;
  align-items: center;
}

.modal:not(.open) {
  display: none;
}

.modal.open {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .content {
  width: 600px;
  height: 300px;
  padding: 10px;
  min-height: 200px;
  background: #15fc00ce;
  box-shadow: 0 10px 20px -8px rgb(118, 231, 25);
}

.modal h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #888;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal label {
  margin: 12px 0 4px;
}

.modal input,
.modal textarea {
  background: #ddd;
  padding: 15px;
  width: 45%;
  font-size: 25px;
}

.modal button {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 80%;
  padding: 10px;
  margin: 10px;
}
